*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(images.jpg);
    background-size: cover;
    background-position: center;
   
    font-family: sans-serif;
}
.menu-bar{
    background:rgb(161, 224, 149);
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
    
}
.menu-bar ul li{
    margin: 15px;
    padding: 15px; 
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
}
.n1, .menu-bar ul li:hover
{
 background: #2f4b29;
 border-radius: 2px;
}
.sub-menu-1{
    display: none;
}
.menu-bar lu li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgb(0,100,0);
    margin-top: 15px;
    margin-left:-15px;

}
.menu-bar lu li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar lu li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: center;
}
